# IDE 配置文件
.config
.config.old
.cproject
.project
.settings/

# 第三方工具
.kilo/
.mimocode/
.kilocodeignore

# VS Code
.vscode/

# 临时脚本
sconscript_update.bat

# 构建输出
build/
Debug/
__pycache__/
.sconsign.dblite
*.pyc

# CubeMX 备份/生成文件
cubemx/Drivers/
cubemx/MDK-ARM/
cubemx/Inc/*.bak
cubemx/Src/*.bak

# RT-Thread packages
packages/packages.dbsqlite
packages/pkgs.json
packages/pkgs_error.json
rt-thread/
